.drum-pad {
    width: 130px;
    height: 130px;
    background-color: grey;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drum-pad:active {
    width: 130px;
    height: 130px;
    background-color: rgb(97, 97, 97);
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}





