.drum-pad.linear {
  width: 130px;
  margin: 3px;
  font-size: 4em;
  height: 130px;
  background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

@media (max-width: 500px) {
  .drum-pad.linear {
    width: 28vw;
  }
}

.pressed {
  position: relative;
  top: 2px;
}

.not-pressed {
  position: relative;
  top: 0px;
}

.pressed-border {
  border-top-color: black;
  border-right-color: black;
  border-bottom-color: grey;
  border-left-color: grey;
}


.not-pressed-border {
  border-top-color: grey;
  border-right-color: grey;
  border-bottom-color: black;
  border-left-color: black;
}