#root {
    background-image: url(./assets/table.jpeg);
    display: flex;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat; 
    background-size: cover;
}

#drum-machine {
    width: 500px;
    height: 580px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(33 37 34);
    box-shadow: rgb(0 0 0 / 30%) 18px 20px 13px 5px, rgb(0 0 0 / 22%) 19px 20px 12px;
}
 
 #drum-layout {
    display: flex;
    flex-direction: row;
    width: 460px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto;
    margin-top: 5px;
}

#display {
    display: flex;
    height: 50px;
    background-color: darkslategrey;
    width: 260px;
    margin-top: 10p;
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 220px;
}

#change-pad-button {
    width: 130px;
    height: 40px;
    margin-left: 10px;
    background-image: -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0)   6%, hsla(0,0%,100%, .1) 7.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,  0%,0) 0%, hsla(0,0%,  0%,0)   4%, hsla(0,0%,  0%,.03) 4.5%),
    -webkit-repeating-linear-gradient(left, hsla(0,0%,100%,0) 0%, hsla(0,0%,100%,0) 1.2%, hsla(0,0%,100%,.15) 2.2%),
    
    linear-gradient(180deg, hsl(0,0%,78%)  0%, 
    hsl(0,0%,90%) 47%, 
    hsl(0,0%,78%) 53%,
    hsl(0,0%,70%)100%);
}

#display-two {
    display: flex;
    margin-left: 10px;
    height: 50px;
    background-color: darkslategrey;
    width: 130px;
    margin-top: 10p;
    padding: 10px;
    justify-content: center;
    align-items: center;
}

#display-panel {
    display: flex;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.top {
    height: 30px;
}

.control-panel {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}


