#drum-machine {
    background-color: black;
    width: 500px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
}
 
 #drum-layout {
    display: flex;
    flex-direction: row;
    width: 460px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto;
    margin-top: 10px;
}

.drum-pad {
    width: 130px;
    height: 130px;
    background-color: grey;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    background-color: darkslategrey;
    width: 400px;
    margin-top: 10p;
    padding: 10px;
}

.top {
    height: 20px;
}

