 #pads {
    display: flex;
    flex-direction: row;
    width: 460px;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right:auto;
}

.drum-pad {
    width: 130px;
    height: 130px;
    background-color: grey;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}